# Gitignore for Strapi project

# Node.js dependencies
/node_modules
.npm
.nvm
.yarn-integrity

# Environments
.env
.env.development.local
.env.production.local
.env.test.local

# Build artifacts
.cache/
.strapi/
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other files
.DS_Store
*.seed
*.sqlite
/database.sqlite*
